<a href="https://colab.research.google.com/github/mughilan16/big-data-lab/blob/master/IMPORT_MYSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Installing Hadoop

In [ ]:
!apt-get install openjdk-8-jdk
!wget https://dlcdn.apache.org/hadoop/common/hadoop-3.3.6/hadoop-3.3.6.tar.gz
!tar fx hadoop-3.3.6.tar.gz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["HADOOP_HOME"] = "/content/hadoop-3.3.6"
!ln -s /content/hadoop-3.3.6/bin/* /usr/bin

### Installing MYSQL SERVER

In [ ]:
!apt-get -y install mysql-server

### Start MYSQL service

In [ ]:
!service mysql start

### Installing mysql-connector

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

### Create a connection with the mysql server

In [ ]:
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

### Create Database

In [ ]:
# Create a new database named 'library'
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

### Populate database

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

### print data from database

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(4, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(5, '1984', 'George Orwell', 1949)
(6, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(7, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(8, '1984', 'George Orwell', 1949)
(9, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()
cursor.execute("SELECT * FROM books WHERE year_published < 1950")
classics = cursor.fetchall()

for classic in classics:
    print(classic)

cursor.close()
conn.close()

(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(5, '1984', 'George Orwell', 1949)
(6, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [2]:
!wget https://archive.apache.org/dist/sqoop/1.4.5/sqoop-1.4.5.bin__hadoop-0.20.tar.gz

--2024-02-06 04:05:12--  https://archive.apache.org/dist/sqoop/1.4.5/sqoop-1.4.5.bin__hadoop-0.20.tar.gz
Resolving archive.apache.org (archive.apache.org)... 65.108.204.189, 2a01:4f9:1a:a084::2
Connecting to archive.apache.org (archive.apache.org)|65.108.204.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6455732 (6.2M) [application/x-gzip]
Saving to: ‘sqoop-1.4.5.bin__hadoop-0.20.tar.gz’

sqoop-1.4.5.bin__ha 100%[===================>]   6.16M  2.34MB/s    in 2.6s

2024-02-06 04:05:15 (2.34 MB/s) - ‘sqoop-1.4.5.bin__hadoop-0.20.tar.gz’ saved [6455732/6455732]

In [6]:
!ls

sample_data  sqoop-1.4.5.bin__hadoop-0.20  sqoop-1.4.5.bin__hadoop-0.20.tar.gz

In [ ]:
!tar -xvf sqoop-1.4.5.bin__hadoop-0.20.tar.gz

In [7]:
!mv sqoop-1.4.5.bin__hadoop-0.20 sqoop
!mv sqoop /usr/lib/

In [24]:
!export SQOOP_HOME=/usr/lib/sqoop
!export PATH=$PATH:$SQOOP_HOME/bin
!export =/usr/lib/hadoop
!export HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
os.environ["HADOOP_COMMON_HOME"] = "/usr/lib/hadoop"

In [23]:
!echo $HADOOP_COMMON_HOME

In [11]:
!ln -s /usr/share/java/mysql-connector-java-5.1.42.jar /usr/lib/sqoop/lib

In [19]:
!/usr/lib/sqoop/bin/sqoop version

Error: /usr/lib/sqoop/bin/../../hadoop does not exist!
Please set $HADOOP_COMMON_HOME to the root of your Hadoop installation.